{% extends 'base.html' %}

{% block content %}

<div class="form-bg">
    <div class="f padd">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8">
                <div class="form-container">
                    <div class="form-icon">
                        <!-- <img class="" height="260" width="260" style="border-radius: 50%;" src="/static/assets/img/avatar7.png" alt=""> -->
                        <i class="fa fa-user-circle"></i>
                        <span class="signup"><a href="">Don't have account? Signup</a></span>
                    </div>
                    <form class="form-horizontal">
                        <h3 class="title">Member Login</h3>
                        <div class="form-group">
                            <span class="input-icon"><i class="fa fa-envelope"></i></span>
                            <input class="form-control" type="email" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <span class="input-icon"><i class="fa fa-lock"></i></span>
                            <input class="form-control" type="password" placeholder="Password">
                        </div>
                        <button class="btn signin">Login</button>
                        <span class="forgot-pass"><a href="#">Forgot Password?</a></span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}