{% extends 'base.html' %}

{% block content %}

<div class="mt-5 mb-3 py-5 text-dark">
    <div class="padd container-fluid">
        <div
            class="d-style btn radius btn-brc-tpbgc-white btn-outline-blue btn-h-outline-blue btn-a-outline-blue w-100 my-2 py-3 shadow">
            <!-- Basic Plan -->
            <div class="row align-items-center">
                <div class="col-12 col-md-4">
                    <h4 class="pt-3 text-170 text-600 text-primary-d1 letter-spacing">
                        Basic Plan
                    </h4>

                    <div class="text-secondary-d1 text-120">
                        <span class="ml-n15 align-text-bottom">$</span><span class="text-180">10</span> / month
                    </div>
                </div>

                <ul class="ps-5 pe-5 list-unstyled mb-0 col-12 col-md-4 text-dark-l1 text-90 text-left my-4 my-md-0">
                    <li>
                        <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
                        <span>
                            <span class="text-110">Donec id elit.</span>
                            Fusce dapibus...
                        </span>
                    </li>

                    <li class="mt-25">
                        <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
                        <span class="text-110">
                            Placerat duis
                        </span>
                    </li>

                    <li class="mt-25">
                        <i class="fa fa-times text-danger-m3 text-110 mr-25 mt-1"></i>
                        <span class="text-110">
                            Tortor mauris
                        </span>
                    </li>
                </ul>

                <div class="col-12 col-md-4 my-4 text-center">
                    <a href="#" class="f-n-hover btn radius btn-dark btn-raised px-4 py-25 w-75 text-600">Get
                        Started</a>
                </div>
            </div>

        </div>



        <div
            class="d-style bgc-white btn radius btn-brc-tp btn-outline-green btn-h-outline-green btn-a-outline-green w-100 my-2 py-3 shadow border-2">
            <!-- Pro Plan -->
            <div class="row align-items-center">
                <div class="col-12 col-md-4">
                    <h4 class="pt-3 text-170 text-600 text-green-d1 letter-spacing">
                        Pro Plan
                    </h4>

                    <div class="text-secondary-d2 text-120">
                        <span class="align-text-bottom">$</span><span class="text-180">20</span> / month
                    </div>
                </div>

                <ul class="ps-5 pe-5 list-unstyled mb-0 col-12 col-md-4 text-dark-l1 text-90 text-left my-4 my-md-0">
                    <li>
                        <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
                        <span>
                            <span class="text-110">Everything in Basic...</span>
                        </span>
                    </li>

                    <li class="mt-25">
                        <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
                        <span class="text-110">
                            Non diam phasellus
                        </span>
                    </li>

                    <li class="mt-25">
                        <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
                        <span class="text-110">
                            Tortor mauris
                        </span>
                    </li>
                </ul>

                <div class="col-12 col-md-4 my-4 text-center">
                    <a href="#" class="f-n-hover btn radius btn-dark btn-raised px-4 py-25 w-75 text-600">Get
                        Started</a>
                </div>
            </div>

        </div>



        <div
            class="d-style btn radius btn-brc-tpbgc-white btn-outline-purple btn-h-outline-purple btn-a-outline-purple w-100 my-2 py-3 shadow">
            <!-- Premium Plan -->
            <div class="row align-items-center">
                <div class="col-12 col-md-4">
                    <h4 class="pt-3 text-170 text-600 text-purple-d1 letter-spacing">
                        Premium Plan
                    </h4>

                    <div class="text-secondary-d1 text-120">
                        <span class="ml-n15 align-text-bottom">$</span><span class="text-180">50</span> / month
                    </div>
                </div>

                <ul class="ps-5 pe-5 list-unstyled mb-0 col-12 col-md-4 text-dark-l1 text-90 text-left my-4 my-md-0">
                    <li>
                        <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
                        <span>
                            <span class="text-110">Everything in Pro...</span>
                        </span>
                    </li>

                    <li class="mt-25">
                        <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
                        <span class="text-110">
                            Placerat duis
                        </span>
                    </li>

                    <li class="mt-25">
                        <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
                        <span class="text-110">
                            Molestie nunc non
                        </span>
                    </li>
                </ul>

                <div class="col-12 col-md-4 my-4 text-center">
                    <a href="#" class="f-n-hover btn radius btn-dark btn-raised px-4 py-25 w-75 text-600">Get
                        Started</a>
                </div>
            </div>

        </div>

        <div class="ps-4 pe-4 mt-4 text-dark hide">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit rem quod quas qui sit aspernatur, quo est
                cupiditate? Optio dolor distinctio blanditiis omnis cum ab sapiente repudiandae ipsum velit illo eveniet
                eius error, quis aspernatur iusto? Ex similique perspiciatis eaque numquam ratione possimus, blanditiis
                deserunt aut incidunt explicabo nihil enim. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea,
                totam fuga veniam delectus aperiam voluptas? Lorem ipsum, dolor sit amet consectetur
                adipisicing elit. Eaque et magnam doloremque ut harum iusto quia sequi voluptatem pariatur id iste alias
                nisi provident dolores beatae, ipsa temporibus qui odit.</p>
        </div>

    </div>
</div>

{% endblock %}